.example-tree-invisible {
    display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

button[mat-button]:hover{
  background-color: white;
  color: black;
}

mat-drawer {

    width: 20%;
    background-color: black;
    color: white;
}

mat-drawer-content{
    width: 80%;

}

mat-drawer-container{
    height: 100%;
    width: 100%;
}

li button{
    font-size: 0.65rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:white;
}

mat-tree{
    background-color: transparent !important;
}
