.example-tree-invisible {
    display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

mat-drawer {
    
    width: 20%;
    background-color: black;
    color: white;
}

mat-drawer-content{
    width: 80%;
    
}

mat-drawer-container{
    height: 100%;
    width: 100%;
}

li button{
    font-size: small;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:white;
}

mat-tree{
    background-color: transparent !important;
}